
<navbar></navbar>
<div class="w-100">
    <ul id="list" class="main-opt list-unstyled my-0 w-100 text-white">
        <li id="0"  routerLink="/islemci"  routerLinkActive="Sitem" [routerLinkActiveOptions]="{exact : true}" class="list-item " >İstekler</li>
        <li id="1" routerLink="/islemci/ekle" class="list-item"  [routerLinkActiveOptions]="{exact : true}"   routerLinkActive="Sitem" >Ürünler ve Ayrıntıları</li>
        <li id="2" routerLink="/islemci/hazirlanan" class="list-item"[routerLinkActiveOptions]="{exact : true}"   routerLinkActive="Sitem" >Hazırlanan Ürünler</li>
        <li id="3" routerLink="/islemci/gecmis" class="list-item"[routerLinkActiveOptions]="{exact : true}" routerLinkActive="Sitem" >Sipariş Geçmişi</li>
    </ul>
</div>
<div class="font">
    <div class="card-bg mb-4 px-2  position-relative  mx-4 text-white ">
    <div class="table-responsive max-overflow">
        <table  class="table table-borderless   text-center text-white ">
            <thead>
                <tr>
                    <th class="text" scope="col">Ürün id</th>
                    <th class="text" scope="col">Ürün ad</th>
                    <th class="text" scope="col">Kategori</th>
                    <th class="text" scope="col">Marka</th>
                    <th class="text" scope="col">stok</th>
                    <th class="text" scope="col">onaylanabilir adet</th>
                    <th class="text" scope="col">siparis adeti</th>
                    <th class="text" scope="col">Fiyat</th>
                    <th class="text" scope="col">firma</th>
                    <th class="text" scope="col">Tarih</th>
                    <th class="text" scope="col">İşlem</th>
                </tr>
            </thead>
          
            <tbody class="w-100 "><!--ngFor-->
                <tr class="" *ngFor="let urun of islemcisepet">
                    <td class="text col text-break"scope="row">{{urun.urun_ID}}</td>
                    <td class="text col-2 text-break">{{urun.urun_ad}}</td>
                    <td class="text col text-break">{{urun.kategori_AD}}</td>
                    <td class="text col text-break">{{urun.marka_AD}}</td>
                    <td class="text col text-break">{{urun.urun_adet}}</td>
                    <td class="text col text-break">{{urun.iss}}</td>
                    <td class="text col text-break">{{urun.siparis_adeti}}</td>
                    <td class="text col text-break">{{urun.satis}}</td>
                    <td class="text col text-break">{{urun.Sirket_AD}}</td>
                    <td class="text col text-break">{{ urun.siparis_tarih | date:'dd/MM/yyyy' }}</td>
                    <td class="text col">       
                        <button *ngIf="urun.iss < urun.siparis_adeti" [disabled]="true" (click)="satinal(urun)" id="{{urun.id + urun.firma + 1}}" type="button" class="btn btn-sm text-white w-100 succ">onayla</button>
                        <button *ngIf="urun.iss >= urun.siparis_adeti" [disabled]="false"  (click)="satinal(urun)" id="{{urun.id + urun.firma + 1}}" type="button" class="btn btn-sm text-white w-100 succ">onayla</button>

                        <button id={{urun.id+urun.firma}} (click)="sil(urun)" type="button" class="btn btn-sm text-white  w-100  btn-danger">iptal et</button>
                       
                    </td>
                </tr>



            </tbody>
        </table>
               
    </div>
    
    </div>
    
    
    </div>