
<navbar></navbar>
<div class="w-100">
    <ul id="list" class="main-opt list-unstyled my-0 w-100 text-white">
        <li id="0"  routerLink="/islemci"  routerLinkActive="Sitem" [routerLinkActiveOptions]="{exact : true}" class="list-item " >İstekler</li>
        <li id="1" routerLink="/islemci/ekle" class="list-item"  [routerLinkActiveOptions]="{exact : true}"   routerLinkActive="Sitem" >Ürünler ve Ayrıntıları</li>
        <li id="2" routerLink="/islemci/hazirlanan" class="list-item"[routerLinkActiveOptions]="{exact : true}"   routerLinkActive="Sitem" >Hazırlanan Ürünler</li>
        <li id="3" routerLink="/islemci/gecmis" class="list-item"[routerLinkActiveOptions]="{exact : true}" routerLinkActive="Sitem" >Sipariş Geçmişi</li> </ul>
</div>
<app-sell-calendar (DateEvent)="Date($event)" (selectedDateEvent)="handleSelectedDate($event)"  ></app-sell-calendar>
<div class="font">
    <div class="card-bg mb-4 px-2 px-md-2 mx-0 px-0 my-3  mx-md-4  mx-4 text-white ">
    <div class="table-responsive max-overflow">
        <table  class="table table-borderless   text-center text-white ">
            <thead>
                <tr>
                    <th class="text" scope="col">Ürün id</th>
                    <th class="text" scope="col">Ürün ad</th>
                    <th class="text" scope="col">Kategori</th>
                    <th class="text" scope="col">Marka</th>
                    <th class="text" scope="col">Adet</th>
                    <th class="text" scope="col">Firma</th>
                    <th class="text" scope="col">Tutar</th>
                    <th class="text" scope="col">Sipariş durum</th>
                    <th class="text" scope="col">İşlem</th>
                </tr>
            </thead>
           
            <tbody class="w-100"><!--ngFor-->
                <tr class="" *ngFor="let urun of veriler">

                    <td class="text col text-break"scope="row">{{urun.urun_ID}}</td>
                    <td class="text col-2 text-break">{{urun.urun_ad}}</td>
                    <td class="text col text-break">{{urun.kategori_AD}}</td>
                    <td class="text col text-break">{{urun.marka_AD}}</td>
                    <td class="text col text-break">{{urun.siparis_adeti}}</td>
                    <td class="text col text-break">AH firması</td>
                    <td class="text col text-break">{{(urun.urun_adet*urun.satis)}} TL</td>
                    <td class="text col text-break">{{urun.durum}}</td>
                    <td class="text col">       
                    <button id={{urun.id+urun.firma}} (click)="sil(urun)"  type="button" class="btn btn-sm text-white  h-100  btn-danger">siparis iptal</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    
    </div>
   
    </div>